/* General styles */
body {
    background-color: #7f9cb9; /* Light background color */
    color: #333333;
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
}
.custom-container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #507194;
}

.navbar-nav .nav-link:hover {
    color: #507eae;
}

.content-section {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Footer styles */
.site-footer {
    background-color: #929eab;
    padding: 2rem 0;
}

.site-footer h3 {
    color: #444444;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}

.site-footer ul li {
    margin-bottom: 0.5rem;
}

.site-footer ul li a {
    color: #007bff;
    text-decoration: none;
}

.site-footer ul li a:hover {
    text-decoration: underline;
}

.site-footer p {
    margin: 0;
    color: #777777;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #87a5b5;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}